.poisk{
    display: flex;
    justify-content: center;
}
.poisk h1{
    margin: 40px;
    font-size: 40px;
    color: #130f40;
}

.client1{
    background: #FFFFFF;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    padding: 10px;
    margin-bottom: 50px;
    min-height:500px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.spec_name{
    padding: 20px;
}
.spec_name a{
    text-decoration: none;
    color: #130f40;
    margin: 40px;
    font-size: 25px;
    font-weight: bold;
}
.spec_name a:hover{
    color:#75c2b5;
}
