.receipt-title .container{
    padding: 5px;
}

.title{
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 12px 25px;
    border: 1px solid #E5E5E5;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #ffffff;

}
.title a{
    text-decoration: none;
}
.title:hover h3 {
    color: #75c2b5;
}
.receipt-title h3{
    margin-left: 25px;
    color: #130f40;
}
.receipt-title i {
    font-size: 25px;
    color: #75c2b5;
}



.receipts1 .container{
    min-height: 1000px;
    border-radius: 20px;
    border: 1px solid #E5E5E5;
    margin-bottom: 40px;
    background: #ffffff;
}

.back_fone1{
    min-height: 820px;
}
.pharm_title1 h1{
    margin-left: 25px;
    padding: 65px 25px 30px;
    color: #130f40;
    font-size: 30px;
    font-weight: bold;
}
.pharm_title1 a{
    text-decoration: none;
    font-size: 20px;
    color: #130f40;
    margin-left: 25px;
    padding: 65px 25px 30px;
}
.pharm_title1 i{
    margin-left: 10px;
    color: #009379;
    font-size: 25px;
}
.pharm_title1 p{
    font-size: 20px;
    color: #009379;
    margin-left: 25px;
    padding: 2px 25px;
    cursor: pointer;
    /*padding: 65px 25px 30px;*/
}
