
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif, Monteserat;
    background: #F8F9FF;
}

.header {
    border-bottom: 1px solid #E5E5E5;
    padding: 25px 0;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
}

/*.logo img {*/
/*    vertical-align: bottom;*/
/*}*/
.header .logo{
    position: absolute;
    font-size: 1.8rem;
    color:#130f40;
    font-weight: bold;
    margin-bottom: 25px;
}
.header .logo span{
    color:#009379;
}

.header .logo a{
    text-decoration: none;
}
/*.btn{*/
/*    display: inline-block;*/
/*    margin-top: 1rem;*/
/*    padding:.8rem 3rem;*/
/*    background:#009379;*/
/*    color:#E5E5E5;*/
/*    cursor: pointer;*/
/*    font-size: 1.4rem;*/
/*    border-radius: 35px;*/
/*    font-weight: 500;*/
/*    text-align: center;*/
/*    border: 0;*/
/*}*/

/*.btn:hover{*/
/*    background: #076750;*/
/*}*/

.menu {
    margin-left: 244px;
}

.menu ul {
    list-style: none; /*deleted standard list icons*/
    display: flex;
}

.menu-item {
    margin-right: 75px;
    /*background: #009379;*/
}

.menu-item a {
    font-size: 20px;
    color: #130f40;
    text-decoration: none; /*deleted standard link line*/
}

.menu-item a:hover {
    /*border-bottom: 2px solid black;*/
    color: #009379;
}

.main {
    background-image: url("{{asset('asset/public/asset/photo/home.webp')}}"); /* 2points means outside of current folder*/
    background-position: center;
    background-size: cover;
    padding: 104px 0 54px 0;
}

.main-info {
    max-width: 855px;
}

.main-title {
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #130f40;
    margin-bottom: 40px;
}

.main-text {
    font-size: 16px;
    line-height: 130%;
    color: #130f40;
    margin-bottom: 40px;
    max-width: 502px;
}

.button {
    padding: 20px;
    width: 334px;
    height: 64px;
    background: #009379;
    border: 0;
    border-radius: 45px;
    box-sizing: border-box;
    text-align: center;

    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    /*color will change slowly with" transition"*/
    transition: background-color .5s;
}

.button:hover {
    cursor: pointer;
    background: #076750;
}

.login-btn .button{
    color:#E5E5E5;
    width:100px;
}

.services{
    padding: 50px 0;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:1.5rem;
    margin-top: 30px;
    margin-bottom: 40px;
}
.services .box-container a{
   text-decoration: none;
}
.services .box-container .box{
    padding:1rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    text-align: center;
    background: #ffffffa;
    cursor: pointer;
}

.services .box-container .box i{
    height:5rem;
    width:7rem;
    line-height: 6rem;
    border-radius: 30px;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    /*background: #ffe0dc;*/
    /*color:#009379;*/
}

.services .box-container .box h3{
    /*font-size: 2.2rem;*/
    font-size: 1.5rem;
    color:#130f40;
}

.services .box-container .box p{
    line-height: 1.8;
    padding:1rem 0;
    font-size: 1.4rem;
    color:#666;
}

.services .box-container .box:hover{
    background: #75c2b5;
}

.services .box-container .box:hover h3{
    color:#fff;
}

.services .box-container .box:hover p{
    color:#eee;
}


.new{
    overflow: hidden;/*Это помагает когда если картинка больше , тогда картинка обрезалось*/

}
.new .container{
    position: relative;
    padding-bottom: 121px;
}
.new .news{
    height: 11rem;
    padding: 75px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    background: #f2bfaf;
}

.new .sub-title{
    margin-bottom: 20px;
}

.news-text{
    font-size: 16px;
    line-height: 130%;
    color: #5D5D5F;
    margin-bottom: 20px;
}
.circ{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 35px solid #ff6250;
    right: 0;
    top: -70px;
    transform:rotate(-180deg);


}
.circ2{
    position: absolute;
    width: 270px;
    height: 150px;
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    background: #ff6250;
    right: 420px;
    bottom: 120px;
}



.footer{
    border-top: 1px solid #E5E5E5;
    padding: 25px 0;
    background: #2D2D2D;
}
.footer a{
    text-decoration: none;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rights{
    font-size: 15px;
    color: #E5E5E5;
}
.rights i{
    padding-right:35px;
    font-size: 1.1rem;
}
.footer .logo{
    font-size: 1.1rem;
    color:#E5E5E5;
    font-weight: bold;
}
.footer .logo span{
    color:#009379;
}
