.button {
    padding: 5px;
    background: #009379;
    border: 0;
    border-radius: 45px;
    box-sizing: border-box;
    text-align: center;

    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    /*color will change slowly with" transition"*/
    transition: background-color .5s;
}

.button:hover {
    cursor: pointer;
    background: #076750;
}

.poisk3{
    display: flex;
    justify-content: center;
}

.price-form3{
    min-width: 844px;
    padding:40px 210px;
    display: flex;
    /*align-items: center;*/

}
.price-input3{
    padding: 22px 18px;
    width: 844px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #5D5D5F;
    border-radius: 15px;
    box-sizing: border-box;

    font-size: 16px;
    color: #000000;
    outline: none;
    margin-bottom: 15px;
}
.price-input3::placeholder{
    color: #5D5D5F;
}
.poisk3 .button{
    padding: 10px;
    margin-left: 20px;
    width: 120px;
    color: #E5E5E5;
}

.client2{
    background: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #5D5D5F;
    padding: 40px 10px;
    margin-bottom: 45px;
    min-height:500px;
}
.client2 a{
    text-decoration: none;
}
.client-name2{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.client-name2 h4{
    margin: 40px;
    color: #130f40;
}
.client-name2:hover h4{
    color:#75c2b5;
}

.client-name2 .button {
    padding: 10px;
    margin-left: 20px;
    width: 100px;
    color: #E5E5E5;
}
 .btn2{
        /*padding: 10px;*/
        width: 120px;
        height: 64px;
        border-radius: 43px;
         background: #d9534f;
         box-sizing: border-box;
        text-align: center;
        border: 0;

        font-weight: bold;
        color: #FFFFFF;
        font-size: 16px;
         margin-left: 20px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        transition: background-color .8s;
}
 .btn2:hover{
     cursor: pointer;
     background: #a44843;
 }

.submit .bt{
    display: flex;
    justify-content: center;
    margin: 50px;
}

