.receipt-title .container{
    padding: 5px;
}

.title6{
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 12px 25px;
    border: 1px solid #E5E5E5;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #ffffff;

}
.title6 a{
    text-decoration: none;
}
.title6:hover h3 {
    color: #75c2b5;
}
.receipt-title h3{
    margin-left: 25px;
    color: #130f40;
}
.receipt-title i {
    font-size: 25px;
    color: #75c2b5;
}



.receipts3 .container{
    min-height: 1000px;
    border-radius: 20px;
    border: 1px solid #E5E5E5;
    margin-bottom: 40px;
    background: #ffffff;
}

.pharm_img1 {
    display: flex;
    justify-content: center;
}
.pharm_img1 img{
    width: 350px;
    height: 300px;
}
.pharm_info{
    margin: 50px 50px;
}
.pharm_info h3{
    color: #130f40;
    padding: 30px 25px;
    font-weight: bold;
}
.back_fone_qr{
    display: flex;
    justify-content: space-between;
}
.back_fone_qr .button{
    margin: 140px 50px;
}
.pharm_qr{
    /*display: flex;*/
    float: right;
}
.pharm_qr img{
    width: 280px;
    height: 280px;
    margin: 30px;
}

.button2 {
    margin: 90px 90px;
    width: 264px;
    height: 64px;
    background: #009379;
    border: 0;
    border-radius: 45px;
    box-sizing: border-box;
    text-align: center;

    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    /*color will change slowly with" transition"*/
    transition: background-color .5s;
}

.button:hover {
    cursor: pointer;
    background: #076750;
}
