.receipt-title4 .container{
    padding:5px;
}

.title4{
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 15px 25px;
    border: 1px solid #E5E5E5;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #ffffff;

}
.title4 a{
    text-decoration: none;
}

 .title4:hover  h3 {
     color: #75c2b5;
 }


.receipt-title4 h3{
    margin-left: 25px;
    color: #130f40;
}
.receipt-title4 i {
    font-size: 25px;
    color: #75c2b5;
}



.receipts4 .container{
    padding: 5px;
}
.receipts-lists4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
    padding: 15px;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #ffffff;
}

.receipts4 h3{
    margin: 15px;
    color: #130f40;
    font-size: 23px;
}
.receipts4 .left a{
    text-decoration: none;
    color: #009379;
}
.receipts4 a:hover{
    color: #75c2b5;
}

