.receipt-title .container{
    padding: 5px;
    display: flex;
    /*justify-content: center;*/
}

.title2{
    /*display: flex;*/
    /*align-items: center;*/
    margin: 15px 15px 15px 0;
    padding: 12px 25px;
    border: 1px solid #E5E5E5;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #ffffff;
    /*cursor: pointer;*/
}

.receipt-title h3{
    margin-left: 25px;
    color: #130f40;
}
.receipt-title i {
    font-size: 25px;
    color: #75c2b5;
}


#hv:hover h3{
    color: #75c2b5;
}

.title2 a{
    text-decoration: none;
}

.receipts2 .container{
    /*padding: 5px;*/
    min-height: 1000px;
    border-radius: 20px;
    border: 1px solid #E5E5E5;
    margin-bottom: 40px;
    background: #ffffff;
}
.receipts2 .doctor{
    margin: 20px 5px;
    padding: 10px;
    width: 280px;
    background: #009379;
    border-radius: 20px;
    color: #130f40;
    margin-left: auto;
}
.back_fone{
    min-height: 820px;
    background:#f8d57e;
}
.back_fone h2{
    margin-left: 25px;
    padding: 65px 25px 0;
    color: #130f40;
}
.receipts-lists1{
    margin: 25px 0;
    padding: 45px;
}

.receipts2 h3{
    margin: 15px;
    color: #130f40;
    font-size: 23px;
}
.receipts2 .left {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    border-bottom: 3px solid #130f40;
    padding: 15px;
}
.pharm_qr{
    margin-top: 70px;
    float: right;
}
.pharm_qr img{
    width: 250px;
    height: 250px;
    /*margin: 25px;*/
}
