.receipt-title5 .container{
    padding: 5px;
    display: flex;
    /*justify-content: center;*/
}

.title5{
    /*display: flex;*/
    /*align-items: center;*/
    margin: 15px 15px 15px 0;
    padding: 1px 25px;
    border: 1px solid #E5E5E5;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #ffffff;
}

.receipt-title5 h4{
    margin-left: 25px;
    color: #130f40;
}
.receipt-title5 i {
    font-size: 25px;
    color: #75c2b5;
}


#hv:hover h4{
    color: #75c2b5;
}

.title5 a{
    text-decoration: none;
}

.receipts5 .container{
    /*padding: 5px;*/
    min-height: 1000px;
    border-radius: 20px;
    border: 1px solid #E5E5E5;
    margin-bottom: 40px;
    background: #ffffff;
}
.receipts5 .doctor5{
    padding: 25px;
    width: 280px;
    background: #009379;
    border-radius: 20px;
    color: #130f40;
    margin: 25px 25px 25px auto;
}
.back_fone5{
    min-height: 820px;
    background:#f8d57e;
}
.back_fone5 h3{
    margin-left: 25px;
    padding: 65px 25px 0;
    color: #130f40;
}
.receipts-lists5{
    margin: 25px 0;
    padding: 45px;
}

.receipts5 h5{
    margin: 15px;
    color: #130f40;
    font-size: 23px;
}
.receipts5 .left {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    border-bottom: 3px solid #130f40;
    padding: 15px;
}
.pharm_qr5{
    margin-top: 70px;
    float: right;
}
.pharm_qr5 img{
    width: 250px;
    height: 250px;
    /*margin: 25px;*/
}
