
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif, Monteserat;
    background: #F8F9FF;
    height: 100%;
}

.header {
    border-bottom: 1px solid #E5E5E5;
    padding: 25px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
}

/*.logo img {*/
/*    vertical-align: bottom;*/
/*}*/
.header .logo{
    position: absolute;
    font-size: 1.8rem;
    color:#130f40;
    font-weight: bold;
    margin-bottom: 25px;
}
.header .logo span{
    color:#009379;
}

.header .logo a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:#009379;
    color:#E5E5E5;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 35px;
    font-weight: 500;
    text-align: center;
    border: 0;
}

.btn:hover{
    background: #076750;
}

.menu {
    margin-left: 244px;
}

.menu ul {
    list-style: none; /*deleted standard list icons*/
    display: flex;
}

.menu-item {
    margin-right: 75px;
    /*background: #009379;*/
}

.menu-item a {
    font-size: 20px;
    color: #130f40;
    text-decoration: none; /*deleted standard link line*/
}

.menu-item a:hover {
    /*border-bottom: 2px solid black;*/
    color: #009379;
}

.recept-title .container{
    padding: 5px;
}

.title{
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 25px;
    border: 1px solid #E5E5E5;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #ffffff;

}
.title a{
    text-decoration: none;
    cursor: pointer;
}

 .title:hover h2 {
     color: #75c2b5;
 }


.recept-title h2{
    margin-left: 25px;
    color: #130f40;
}
.recept-title i {
    font-size: 25px;
    color: #75c2b5;
}



.recepts .container{
    padding: 5px;
}
.recepts-lists{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
    padding: 15px;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #ffffff;
}

.recepts h3{
    margin: 15px;
    color: #130f40;
    font-size: 23px;
}
.recepts .left a{
    text-decoration: none;
    color: #009379;
}
.recepts a:hover{
    color: #75c2b5;
}
/*.recepts .right h3{*/

/*}*/


.footer{
    border-top: 1px solid #E5E5E5;
    padding: 25px 0;
    background: #2D2D2D;
}
.footer a{
    text-decoration: none;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rights{
    font-size: 15px;
    color: #E5E5E5;
}
.rights i{
    padding-right:35px;
    font-size: 1.1rem;
}
.footer .logo{
    font-size: 1.1rem;
    color:#E5E5E5;
    font-weight: bold;
}
.footer .logo span{
    color:#009379;
}
