.receipt-title .container{
    padding: 5px;
}

.title1{
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 12px 25px;
    border: 1px solid #E5E5E5;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #ffffff;

}
.title1 a{
    text-decoration: none;
    cursor: pointer;
}

 .title1:hover h3 {
     color: #75c2b5;
 }


.receipt-title h3{
    margin-left: 25px;
    color: #130f40;
}
.receipt-title i {
    font-size: 25px;
    color: #75c2b5;
}



.receipts .container{
    padding: 5px;
}
.receipts-lists{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
    padding: 15px;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: #ffffff;
}

.receipts h3{
    margin: 15px;
    color: #130f40;
    font-size: 23px;
}
.receipts .left a{
    text-decoration: none;
    color: #009379;
}
.receipts a:hover{
    color: #75c2b5;
}
