.button {
    padding: 5px;
    /*width: 334px;*/
    /*height: 64px;*/
    background: #009379;
    border: 0;
    border-radius: 45px;
    box-sizing: border-box;
    text-align: center;

    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    /*color will change slowly with" transition"*/
    transition: background-color .5s;
}

.button:hover {
    cursor: pointer;
    background: #076750;
}

.poisk4{
    display: flex;
    justify-content: center;
}

.price-form4{
    min-width: 844px;
    padding:40px 210px;
    display: flex;
    /*align-items: center;*/

}
.price-input4{
    padding: 22px 18px;
    width: 844px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #5D5D5F;
    border-radius: 15px;
    box-sizing: border-box;

    font-size: 16px;
    color: #000000;
    outline: none;
    margin-bottom: 15px;
}
.price-input4::placeholder{
    color: #5D5D5F;
}
.poisk4 .button{
    padding: 10px;
    margin-left: 20px;
    width: 120px;
    color: #E5E5E5;
}
.client4{
    background: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #5D5D5F;
    padding: 10px 10px;
    margin-bottom: 45px;
    min-height:500px;
}

.client4 a{
    text-decoration: none;
}
.client-name4{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.client-name4 h4{
    margin: 40px;
    color: #130f40;
}
.client-name4:hover h4{
    color:#75c2b5;
}
