
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif, Monteserat;
    background: #F8F9FF;
}

.header {
    border-bottom: 1px solid #E5E5E5;
    padding: 25px 0;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
}

.header .logo{
    margin-left: 250px;
    font-size: 1.8rem;
    color:#130f40;
    font-weight: bold;
    position: absolute;
    margin-bottom: 25px;
}
.header .logo span{
    color:#009379;
}

.header .logo a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:#009379;
    color:#E5E5E5;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 35px;
    font-weight: 500;
    text-align: center;
    border: 0;
}

.btn:hover{
    background: #076750;
}

.login{
    overflow: hidden;/*Это помагает когда если картинка больше , тогда картинка обрезалось*/
    margin: 100px 0;
}
.login .container{
    position: relative;
    /*padding-bottom: 121px;*/
    background: #e5f4f2;
    border-radius: 25px;
}
.login .sub-title{
    /*margin-bottom: 24px;*/
    /*margin-left: 104px;*/
    text-align: center;
    margin: 24px;
    color: #130f40;
}

.login-form{
    max-width: 340px;
    padding:120px 200px;
}
.login-input{
    padding: 22px 18px;
    width: 344px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 15px;
    box-sizing: border-box;

    font-size: 16px;
    color: #000000;
    outline: none;
    margin-bottom: 15px;
}
.login-input::placeholder{
    color: #5D5D5F;
}

.login .button{
    width: 100%;
    /*margin-left: auto;*/
}

.login-image{
    position: absolute;
    bottom: 15px;
    left: 751px;
    width: 282px;
}

span::after {
    padding-left: 5px;
}

input:invalid + span::after {
    content: "✖";
}

input:valid + span::after {
    content: "✓";
}


.new{
    overflow: hidden;/*Это помагает когда если картинка больше , тогда картинка обрезалось*/

}
.new .container{
    position: relative;
    padding-bottom: 121px;
}
.new .news{
    height: 11rem;
    padding: 75px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    background: #f2bfaf;
}

.new .sub-title{
    margin-bottom: 20px;
}

.news-text{
    font-size: 16px;
    line-height: 130%;
    color: #5D5D5F;
    margin-bottom: 20px;
}
.circ{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 35px solid #ff6250;
    right: 0;
    top: -70px;
    transform:rotate(-180deg);


}
.circ2{
    position: absolute;
    width: 270px;
    height: 150px;
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    background: #ff6250;
    right: 420px;
    bottom: 120px;
}



.footer{
    border-top: 1px solid #E5E5E5;
    padding: 25px 0;
    background: #2D2D2D;
}
.footer a{
    text-decoration: none;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rights{
    font-size: 15px;
    color: #E5E5E5;
}
.rights i{
    padding-right:35px;
    font-size: 1.1rem;
}
.footer .logo{
    font-size: 1.1rem;
    color:#E5E5E5;
    font-weight: bold;
}
.footer .logo span{
    color:#009379;
}
